<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script></script>
	</head>

	<body>
		<h2>회원상세 목록 조회하기</h2>
		<h5></h5>
		<table border="1">
			<tr>
				<th>회원 아이디</th>
				<th>{{ mem_view.home_id }}</th>
			</tr>
			<tr>
				<th>회원이름</th>
				<th>{{ mem_view.device }}</th>
			</tr>
			<tr>
				<th>회원주소</th>
				<th>{{ mem_view.lastest_time }}</th>
			</tr>
		</table>
	</body>
</html>
