.inputWithBtn {
    position: relative;
    /* margin-bottom: 10px; */
}

.inputWithBtn input {
    margin-bottom: 0;
    font-family: 'godo';
}

.inputWithBtn button {
    font-family: 'Godo';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    width: 21%;
    height: 70%;
    margin: auto 0;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/* --------------------------- */
/* 이메일 인증 구역 */
.inputEmileAuth_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0;
}

.inputEmileAuth_area input {
    width: 100%;
    padding: 4% 10px;
    margin-bottom: 10px;
    font-size: 1em;
    outline: none;
    border: 2px solid #ff9f0a;
    border-radius: 10px;
    font-family: 'Godo';
}

.inputEmileAuth_area input::placeholder {
    font-size: 0.8em;
    font-family: 'Godo';
    color: rgb(198, 198, 198);
}

/* --------------------------- */
/* 아이디, 비번, 이메일 인증 구역 */
.idEmailPwdInput_area {
    border: 2px solid #ff9f0a;
    border-radius: 10px;
    margin-bottom: 1em;
}

.idEmailPwdInput_area input {
    border: 0;
    padding: 5% 10px;
    width: 100%;
    border-bottom: 1px solid grey;
    font-size: 1em;
}
.idEmailPwdInput_area input::placeholder,
.inputWithBtn input::placeholder {
    font-size: 0.8em;
    font-family: 'Godo';
    color: rgb(198, 198, 198);
}
.inputWithBtn input {
    border-radius: 10px 10px 0 0;
}

.inputWithBtn:last-child input {
    border-radius: 0 0 10px 10px;
    border: 0;
}
.idEmailPwdInput_area input:focus {
    outline: none;
}

/* --------------------------- */
/* 사용자 정보 인증 구역 */
.userInfoInput_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0;
}

.userInfoInput_area input {
    width: 100%;
    padding: 4% 10px;
    margin-bottom: 10px;
    font-size: 1em;
    outline: none;
    border: 2px solid #ff9f0a;
    border-radius: 10px;
    font-family: 'Godo';
}

.userInfoInput_area input::placeholder {
    font-size: 0.8em;
    font-family: 'Godo';
    color: rgb(198, 198, 198);
}

/* --------------------------- */
/* 아이디, 비번, 이메일 인증 구역 */
.idEmailPwdInput_area {
    border: 2px solid #ff9f0a;
    border-radius: 10px;
    margin-bottom: 1em;
    font-family: 'Godo';
}

.idEmailPwdInput_area input {
    border: 0;
    padding: 4% 10px;
    width: 100%;
    border-bottom: 1px solid grey;
    font-family: 'Godo';
}
.inputWithBtn input {
    border-radius: 10px 10px 0 0;
}
.inputWithBtn:last-child input {
    border-radius: 0 0 10px 10px;
    border: 0;
}
.idEmailPwdInput_area input:focus {
    outline: none;
}

/* ------------------------ */
/* 주소입력 구역 */
.addressInput_area {
    border: 2px solid hsl(36, 100%, 52%);
    border-radius: 10px;
    margin-bottom: 1em;
}

.addressInput_area input {
    border: 0;
    padding: 4% 10px;
    width: 100%;
    margin-bottom: 0;
}

.address_fisrt_second_area {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Godo';
    font-size: 1em;
    border-radius: 10px 10px 0 0;
    padding: 3% 10px;
    border: 0;
    border-bottom: 1px solid grey;
}

.addressInput {
    font-size: 0.8em;
    border: 2px solid rgb(198, 198, 198);
    border-radius: 5px;
    font-family: 'Godo';
    padding: 1%;
}

.address_label {
    color: rgb(198, 198, 198);
    font-size: 0.8em;
    margin: 6px 17% 0 0;
}

/* 아이디, 비밀번호, 회원가입 버튼 */
.option_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    width: 100%;
}
.option_area a,
.option_area span {
    margin: 3% 5px;
    padding: 0.5px 0;
    color: gray;
    font-size: 0.9em;
    cursor: pointer;
}
.option_area a:active {
    text-decoration: underline;
}

/* 비밀번호 보이기 아이콘 */
.pwd_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    outline: none;
    border-bottom: 1px solid grey;
    width: 100%;
}
.pwd_area input {
    width: 90%;
    font-size: 14px;
    border: none;
    margin-bottom: 0;
}
.eyeIcon {
    width: 10%;
    border: none;
}
