.inputWithBtn {
  position: relative;
  margin-bottom: 10px;
}

.inputWithBtn input {
  margin-bottom: 0;
}

.inputWithBtn button {
  font-family: "Godo";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 20%;
  height: 70%;
  margin: auto 0;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.inputEmileAuth_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 0;
}

.inputEmileAuth_area input {
  width: 100%;
  padding: 4% 10px;
  margin-bottom: 10px;
  font-size: 1em;
  outline: none;
  border: 2px solid #ff9f0a;
  border-radius: 10px;
  font-family: "Godo";
}

.inputEmileAuth_area input::placeholder {
  font-size: 0.8em;
  font-family: "Godo";
  color: rgb(198, 198, 198);
}

.singleInput {
  width: calc(100% - 120px); /* 버튼을 제외한 부분의 너비 */
}

.inputDivider {
  width: 20px;
  height: 100%;
  border-right: 1px solid #ccc; /* 회색 선 색상 및 두께 설정 */
  margin: 0 10px; /* 선 사이 간격 조절 */
}
