.guide_label {
	margin: 0 auto;
	font-size: 0.8em;
}

.findPw_area {
	margin: 8% auto;
}
.findPw_area a {
	font-size: 0.8em;
   color: rgb(126, 126, 126);
}
.findPw_area a:hover {
   text-decoration: underline;
}
