/* --------------------- */
/* 상단바 */
.title_area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 2% 5%;
  background-color: #fbf7ef;
  font-family: "godo";
  font-size: 1.7em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.title_area div {
  margin-left: 10px;
  font-size: 0.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* -------------------------- */
/* 온도 구역 */
.temp_area {
  display: flex;
  justify-content: space-around;
  border: 2px solid;
  z-index: 1;
  width: 100%;
  padding: 15% 10% 7%;
  display: flex;
  font-family: "Godo", serif;
  font-weight: lighter;
  margin-top: 2.6em;
  border: none;
  background-color: #fbf7ef;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.outdoor_temp,
.home_temp,
.recommend_temp {
  text-align: center;
  font-size: 1.2em;
}

.outdoor_temp_title,
.home_temp_title,
.recommend_temp_title {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.outdoor_temp_area,
.home_temp_area,
.recommend_temp_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fcHome,
.fcClose {
  width: 2em;
  height: 2em;
  display: flex;
  justify-items: center;
  margin-top: 4px;
}

/* ----------------------------------- */
.main_area {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 20% 10% 70px;
  display: flex;
  flex-direction: column;
  font-family: "Godo", serif;
  font-weight: lighter;
  margin-top: 12em;
  text-align: center;
}

/* --------------------- */
/* 집 인원 */
.homeCount {
  border-left: 2px solid rgb(88, 189, 155);
  border-right: 2px solid rgb(88, 189, 155);
  margin-bottom: 2em;
}

.homeCount_name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* -------------- */
/* 전등 */
.light {
  border: 2px solid rgb(88, 189, 155);
  border-radius: 10em;
  padding: 5%;
  margin-bottom: 2em;
}

/* ------------------------- */
/* 보일러 및 에어컨 구역 */
.boilerAir_area {
  display: flex;
  justify-content: space-around;
}

.boiler_name,
.airConditioner_name {
  font-size: 20px;
}

.boiler,
.airConditioner {
  border: 2px solid rgb(88, 189, 155);
  border-radius: 5%;
  padding: 3%;
  width: 35%;
  height: 10%;
}

.airConditioner_temp,
.boiler_temp {
  margin-top: 5px;
  font-size: 20px;
}
