.guide_label {
  margin: 0 auto;
  font-size: 0.8em;
}

.inputEmail_area {
  position: relative;
  margin-bottom: 10px;
}
.inputEmail_area input {
  margin-bottom: 0;
}
.inputEmail_area button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 20%;
  height: 70%;
  margin: auto 0;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: "Godo";
  font-weight: bold;
  cursor: pointer;
}

.findId_area {
  margin: 8% auto;
}
.findId_area a {
  font-size: 0.8em;
  color: rgb(126, 126, 126);
}
.findId_area a:hover {
  text-decoration: underline;
}

.main_area {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 20% 10% 70px;
  display: flex;
  flex-direction: column;
  font-family: "Godo", serif;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .main_area {
    padding: 0% 15%;
    font-size: large;
  }
}
