.main_area {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  font-family: "Godo", serif;
  /* font-weight: lighter; */
}

.title_area {
  display: flex;
  flex-direction: row;
  /* align-items: baseline; */
  font-size: 1.7em;
}

.title_area div {
  margin-left: 10px;
  font-size: 0.9em;
}

.subtitle {
  margin: 5%;
}

.main_contents {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.main_content {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #ddd; /* 테두리 스타일 지정 */
  border-radius: 10px; /* 테두리 둥글게 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.content_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.content_text {
  font-size: 1rem;
  color: #555;
}
