/* 타이틀 */
.main_area {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding: 13% 5% 70px;
	display: flex;
	flex-direction: column;
	font-family: "Godo", serif;
}

.title {
	display: flex;
	justify-content: center;
	margin: 15% auto 10%;
}

.title div {
	padding: 0 10px;
	font-size: 2em;
	border-bottom: 5px solid #ff9f0a;
	white-space: normal;
}
/* 서브 타이틀 */
.subtitle {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 1vh;
	white-space: normal;
	word-wrap: break-word;
	word-break: keep-all;
}
.subtitle div {
	padding: 0 1.5vw;
}
/* 게시글 내용 */
.content {
	width: 100%;
	height: 30vh;
	margin: 2vh 0;
	padding: 1vh;
	border: 2px solid lightgray;
	border-radius: 5px;
}
.content div {
	font-family: "pretendard";
	word-wrap: break-word;
	white-space: normal;
	line-height: 130%;
	letter-spacing: 1px;
}

/* 모바일 - 하트 수평선 */
.line,
.line2 {
	width: 100%;
	border-top: 2px double #bbb;
	margin: 2vh 0;
}
.line::after,
.line2::after {
	display: inline-block;
	position: relative;
	top: -7px;
	padding: 0 10px;
	background: #ffffff;
	color: #bbb;
	font-size: 1em;
}
.line::after {
	content: "답변\002665";
	left: 41%;
}
.line2::after {
	content: "답변중•••";
	left: 35%;
}

/* 답변하기 - 타이틀 */
.reply {
	margin: 3% auto;
	font-size: 1.3em;
}

/* 답변 영역 */
.commentContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

/* input */
.input_area {
	width: 100%;
	margin: 0 auto 15px;
}
.input_area textarea {
	width: 100%;
	height: 150px;
	padding: 4% 10px;
	font-size: 1em;
	outline: none;
	border: 2px solid lightgray;
	border-radius: 5px;
	font-family: "pretendard";
	resize: none;
}
.input_area textarea:focus {
	border: 2px solid #ff9f0a;
}

/* 버튼 */
.btn_area {
	display: flex;
	flex-direction: row-reverse;
	/* justify-content: space-between; */
	align-items: center;
}
.btn_area button {
	top: 30px;
	width: 85px;
	height: 40px;
	margin: 10px 0;
	color: white;
	border: 0;
	border-radius: 5px;
	outline: none;
	font-size: 1em;
	font-family: "godo";
	background: #ff9f0a;
}
.btn_area button:active {
	background-color: #fbb244;
}

.btn_area_user {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 0;
}

/* 뒤로가기 */
.goBackBtn {
	color: gray;
	font-size: 0.9em;
}
.goBackBtn:active {
	text-decoration: underline;
}

/* 답변 리스트 */
.commentList {
	width: 100%;
	margin: 0 auto 10px;
}

.commentTitle th {
	font-size: 20px;
	padding: 5px;
	width: 0;
}
.commentContent {
	display: flex;
}
.commentContent td {
	padding: 1vh 3vw;
	font-size: 1em;
	white-space: pre-line;
	word-break: keep-all;
	line-height: 140%;
	border: none;
}

@media screen and (min-width: 1024px) {
	.main_area {
		padding: 62px 15% 90px;
		height: auto;
	}

	.title {
		margin: 10% auto;
	}
	.title div {
		font-size: 3em !important;
	}

	.subtitle {
		width: 100%;
		margin: 0 auto 20px;
		padding: 1.5vh;
		font-size: 1.7em;
	}

	.content div {
		font-size: 1.5em;
	}

	.line,
	.line2 {
		margin: 5vh 0;
		font-size: 1.5em;
	}
	.line::after {
		left: 50%;
	}
	.line2::after {
		left: 46%;
	}

	.input_area textarea {
		padding: 10px;
		height: 200px;
		font-size: 1.5em;
	}

	.reply {
		font-size: 1.8em;
	}

	.commentList {
		margin: 0 auto;
	}

	.commentContent td {
		font-size: 1.5em;
	}

	.btn_area {
		margin: 50px 0;
	}
	.btn_area button {
		width: 200px;
		height: 60px;
		font-size: 1.4em;
		cursor: pointer;
	}

	.goBackBtn {
		font-size: 1em;
		cursor: pointer;
	}
	.goBackBtn:hover {
		text-decoration: underline;
	}
}
