.background {
	position: fixed;
	bottom: 0;
   left: 0;
	width: 100%;
	margin: 0 auto;
   background-color: #fbf7ef;
}

.main_area {
	display: flex;
	flex-direction: row;
   /* justify-content: space-around; */
	align-items: center;
   margin: 0 auto;
   padding: 2% 6% 4%;

}

.nav_btn {
   display: flex;
   flex-direction: column;
   margin: 0 auto ;
   padding: 5% auto;
   border-radius: 15px;
}
.nav_btn img {
   width: 40px;
   height: 40px;
   margin: 0 auto 5px;
   border-radius: 10px;

}
.nav_btn div {
   font-size: .8em;
   margin: 0 auto;
}
.nav_btn:active {
   background-color: white;
}