.background {
	position: fixed;
   z-index: 100;
	bottom: 0;
   left: 0;
	width: 100%;
	margin: 0 auto;
   background-color: #fbf7ef;
}

.main_area {
	display: flex;
	flex-direction: row;
	align-items: center;
   margin: 0 auto;
   padding: 1% 6% 5%;
   font-family: "godo";
}

.nav_btn {
   display: flex;
   flex-direction: column;
   margin: 0 auto ;
   padding: 3% 10%;
   border-radius: 15px;
   transition-duration: .3s;
}
.nav_btn img {
   width: 30px;
   height: 30px;
   margin: 0 auto 5px;
   border-radius: 10px;

}
.nav_btn div {
   font-size: .7em;
   margin: 0 auto;
}
.nav_btn:active {
   background-color: #ff9f0a;
}