@font-face {
	font-family: "Godo";
	font-style: normal;
	font-weight: 700;
	src:
		url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2")
			format("woff2"),
		url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff")
			format("woff");
}

/* color: #d2b48c; */
/* background-color: #d2b48c; */
/* border: 2px solid #d2b48c; */
.themeColor,
a {
	color: #ff9f0a;
	text-decoration: none;
}
.themeBgrColor {
	background-color: #ff9f0a;
}
.themeBorder {
	border: 2px solid #ff9f0a;
}

.background {
	position: relative;
	z-index: 0;
	margin: 0;
	padding: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	white-space: nowrap;
}

.main_area {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding: 20% 10% 70px;
	display: flex;
	flex-direction: column;
	font-family: "Godo", serif;
	font-weight: lighter;
}

/* 타이틀 */
.title_area {
	display: flex;
	margin: 15% auto 10%;
	font-size: 3em;
	font-weight: bold;
}
.title_area a {
	text-decoration: none;
	cursor: pointer;
}

/* input */
.input_area {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10% auto 0;
}
.input_area input {
	width: 100%;
	padding: 4% 10px;
	margin-bottom: 10px;
	font-size: 1em;
	outline: none;
	border: 2px solid #ff9f0a;
	border-radius: 10px;
	font-family: "Godo";
}
.input_area input::placeholder {
	font-size: 0.8em;
	font-family: "Godo";
	color: rgb(198, 198, 198);
}

/* 버튼 */
.btn_area {
	width: 100%;
}
.btn_area button {
	width: 100%;
	padding: 4.5% 0;
	color: white;
	border: 0;
	border-radius: 10px;
	outline: none;
	font-size: 1em;
	font-family: "godo";
	cursor: pointer;
}
.btn_area button:active {
	background-color: #fbb244;
}

.guide_label {
	margin: 0 auto;
	font-size: 0.8em;
}

@media (min-width: 1024px) {
	.background {
		max-width: 40vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.main_area {
		position: relative;
		margin: auto 0;
		padding: 20% 20%;
	}

	.title_area {
		margin: 5% auto;
	}

	.btn_area {
		font-size: 1.2em;
	}
	.btn_area button {
		padding: 15px;
	}
}
