@font-face {
    font-family: logo;
    src: url(https://tistory1.daumcdn.net/tistory/1412876/skin/images/04b_20__.ttf) format('truetype'),
        url(https://tistory1.daumcdn.net/tistory/1412876/skin/images/04b_20__.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Pacifico&family=Yeon+Sung&display=swap');

@keyframes driveIn {
    0% {
        transform: skewX(-30deg);
        left: -800px;
    }
    20% {
        transform: skewX(-30deg);
        left: -400px;
    }
    39% {
        transform: skewX(-30deg);
        left: 0;
    }
    40% {
        transform: skewX(-10deg);
        left: 0;
    }
    50% {
        transform: skewX(10deg);
        left: 0;
    }
    70% {
        transform: skewX(0deg);
        left: 0;
    }
}

@keyframes driveOut {
    0% {
        transform: skewX(0deg);
        left: 0%;
    }
    30% {
        transform: skewX(+30deg);
        left: 0%;
    }
    31% {
        transform: skewX(-30deg);
        left: 0%;
    }
    100% {
        transform: skewX(-30deg);
        left: 120%;
    }
}

.logo_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    font-family: logo;
    font-size: 2rem;
    position: relative;
    display: flex;
}

.logo_nog {
    position: relative;
    animation: driveIn 2s forwards 1;
}

.logo_text {
    position: relative;
    animation: driveOut 2s forwards 1;
}
/* 챗봇 아이콘 */
.chatbot_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.chatbotImg {
    margin: 0 auto;
    z-index: 100;
    width: 100px;
    height: auto;
}
@keyframes bounce {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}
.bounce {
    animation: bounce 1s infinite;
}
