/* 아이디, 비밀번호, 회원가입 버튼 */
.option_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    width: 100%;
}
.option_area a,
.option_area span {
    margin: 3% 5px;
    padding: 0.5px 0;
    color: gray;
    font-size: 0.9em;
    cursor: pointer;
}
.option_area a:active {
    text-decoration: underline;
}

/* 비밀번호 보이기 아이콘 */
.pwd_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    outline: none;
    border: 2px solid #ff9f0a;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.pwd_area input {
    width: 90%;
    border: none;
    margin-bottom: 0;
}
.eyeIcon {
    width: 10%;
}
