.body{
    
    background-color: rgb(48, 59, 113);
    height: 100%;
    width: 100%;
    margin-top: 15%;
    padding: 0.5rem;
    font-family: "Godo";

}

.body>.container>.title{
    background-color: rgb(31, 25, 57);
    padding:2rem 1rem;
    /* font-size: 1rem; */
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-direction: column; */
    border-radius: 0.2rem;
    /* align-items: center; */
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    
}
.body>.container>.title>h1,
.body>.container>.main_title>h1
{
    font-size: 2rem;

}


.body>.container>.main_title{
    background-color: rgb(197, 135, 35);
    padding: 1rem;
    border: 0.5rem solid rgb(255, 252, 251);
    border-radius: 1rem ;
}





/* 도넛 차트 사용량 */
.doughnut_value{
/* position: absolute; */

/* transform: translateX(50%); */
/* transform: translateY(50%); */

/* right: 50%; */
bottom:  20%;
font-size: 2rem;
color: rgb(252, 252, 0);
}


/* 차트 제목 */
.chart_box_title{
/* position: absolute; */
/* top: 0; */
/* background-color: red; */
width: 100%;
padding: 0.5rem;
font-size: 1rem;
color: aqua;
}

/* 차트부모: 한 횡 */
.box_container{
    background-color: rgb(158, 187, 212);
    /* border-radius: 0.3rem; */
    /* width: 100%; */
    /* background-color: blue; */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr) */
    /* display: flex; */
    /* flex-direction: row;  */

    display: grid; /* Grid 레이아웃 적용 */
  grid-template-columns: repeat(2, 1fr); /* 두 개의 열을 균일한 크기로 생성 */
  gap: 0.5rem; /* 그리드 아이템 사이의 간격 설정 */
}
.box_container_one{
    display: block;

}


/* 개별 차트 하나 */
.chart_box{

    /* border: 1px black solid; */
    /* width: 10%; */
    background-color: rgb(178, 113, 113);
    /* padding: 1rem; */
    /* margin-top: 0.5rem; */
     /* position: relative; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex: 1;
    width: 100%;
    
}

.doughnut_chart{
    /* background-color: rgb(185, 231, 208); */
    /* position: relative; */
    width: 20%;
    /* overflow: hidden; */
    /* border: 1rem black solid; */
}
.radar_chart{
    /* flex: 1; */
    background-color: rgb(42, 65, 54);
    
    width: 20%;
}
.pie_chart{
    background-color: rgb(42, 65, 54);
    
    width: 20%;

}

.line_chart{
    background-color: rgb(42, 65, 54);
    
    width: 20%;
}