.body{
    
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin-top: 15%;
    padding: 0.5rem;
    font-family: "Godo";

}

.body>.container>.keyword_box{
    background-color: rgb(255, 255, 255);
    padding:2rem 1rem;
    /* font-size: 1rem; */
    color: rgb(255, 216, 154);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-direction: column; */
    border-radius: 0.2rem;
    /* align-items: center; */
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
    border: 0.3rem solid rgb(250, 185, 33);
    box-shadow: 2px 2px 2px black;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */

}
.body>.container>.keyword_box>h1,
.body>.container>.title>h1
{
    font-size: 2rem;

}


.body>.container>.title{
    background-color: rgb(255, 241, 169);
    padding: 1rem;
    /* border: 0.3rem solid rgb(31, 25, 57); */
    border-radius: 0.3rem ;
    box-shadow: 2px 2px 2px black;

}

.body>.container>.title>h1{
    margin-bottom: 0.5rem;
}





/* 차트 제목 */
.chart_box_title{
/* position: absolute; */
/* top: 0; */
/* background-color: red; */
/* width: 100%; */
/* background-color: rgb(120, 120, 177); */
padding: 0.5rem;
font-size: 2rem;
color: rgb(0, 0, 0);
}




/* 차트부모: 한 횡 */

.box_container{
    /* display: none; */

    /* display: block; */

}


/* 개별 차트 하나 */
.chart_box{
margin-top: 1rem;
margin-bottom: 1rem;

    border: 1px black solid;
    border-radius: 1rem;
    /* width: 10%; */
    background-color: rgb(255, 255, 255);
    /* padding: 1rem; */
    /* margin-top: 0.5rem; */
     /* position: relative; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex: 1;
    width: 100%;
    
}

.doughnut_chart{
    background-color: rgb(185, 185, 249);
    /* position: relative; */
    width: 20%;
    /* overflow: hidden; */
    /* border: 1rem black solid; */
}
.radar_chart{
    /* flex: 1; */
    background-color: rgb(42, 65, 54);
    
    width: 20%;
}
.pie_chart{
    background-color: rgb(42, 65, 54);
    
    width: 20%;

}

.line_chart{
    background-color: rgb(42, 65, 54);
    
    width: 20%;
}

.doughnut_chart_box{
    position: relative;
    width: 100%;
}
/* 도넛 차트 사용량 */
.doughnut_value{
    position: absolute;
    
    transform: translateX(50%);
    /* transform: translateY(50%); */
    
    right: 50%;
    bottom:  0%;
    font-size: 2rem;
    color: rgb(95, 95, 95);
    }

.text_box{
    padding: 1rem;
}

.chart_title_box{
    width: 100%;
    display: flex;
    align-items: center;
}

.spring{
    flex: 1;
}

.close{
    padding: 0 1rem;
}