.main_area {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding: 49px 5% 90px;
	display: flex;
	flex-direction: column;
	font-family: "Godo", serif;
}

.title {
	display: flex;
	margin: 15% auto 14%;
}

.title div {
	padding: 0 10px;
	font-size: 2em;
	border-bottom: 5px solid #ff9f0a;
}

/* -------------------------------------------------- */
/* 테이블 */
.boardList_table {
	display: block;
	height: 61vh;
	margin-bottom: 5px;
	overflow-y: auto;
	overflow-x: auto;
	border: 2px solid #ff9f0a;
	border-radius: 10px;
	text-align: center;
}

.userList_title {
	width: 100%;
	padding: 3% 0;
	background-color: #fbd17c;
	border-bottom: 2px solid #ff9f0a;
	font-size: 1.2em;
}
.userList_title td:first-child {
	padding-left: 5px;
}

.boardList_table table {
	width: 100%;
	border-radius: 10px;
}
.boardList_table th {
	font-size: 1.3em;
	width: 33.33%;
	text-align: center;
	padding: 2vh 0;
	border-bottom: 1px solid #ff9f0a;
}
.boardList_table tr:nth-child(n + 2):active {
	background-origin: #fbd17c;
}
.boardList_table td {
	padding: 1vh 0;
	border-bottom: 1px solid lightgray;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* -------------------------------------------------- */
/* 모달창 */
.custom_modal {
	position: absolute;
	top: 35%;
	left: 5%;
	background: #fff;
	overflow: auto;
	outline: none;
	padding: 15px 15px 20px;
	width: 90vw;
	border-radius: 10px;
	border: 2px solid #ff9f0a;
	text-align: center;
	box-shadow: 10px 14px 16px rgba(0, 0, 0, 0.18);
}

.modal_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
}

/* 모달 닫기 버튼에 대한 스타일 */
.close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #000000;
	border-radius: 50%;
	float: right;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
}

/* 수평선 */
.bookends {
	position: relative;
	border-width: 5px;
	border-color: hsl(0, 0%, 50%) transparent;
	height: 11px;
	border-style: double;
	width: 20%;
}
.bookends:before,
.bookends:after {
	position: absolute;
	bottom: -3.536px;
	width: 7.071px;
	height: 7.071px;
	display: block;
	content: "";
	border-width: 0 7.071px 7.071px 0;
	border-color: hsl(0, 0%, 50%);
	border-style: double;
	box-sizing: border-box;
}
.bookends::before {
	transform: translateZ(0) rotate(-45deg);
	left: -21px;
}
.bookends::after {
	transform: translateZ(0) rotate(135deg);
	right: -21px;
}

.modal_title {
	padding: 0 10px;
	margin: 30px auto;
	font-size: 1.8em;
	font-family: "Godo", serif;
}

.modal_content {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	font-family: "Godo", serif;
	font-size: 1.1em;
	color: #000000;
	width: 100%;
	background: none;
	border: none;
	align-items: flex-start;
	white-space: normal;
}

.modal_content p {
	margin-bottom: 10px;
}

.btn_area {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.reply_btn,
.close_btn {
	width: 100%;
	padding: 4.5% 0;
	margin: 0 auto;
	border: 0;
	border-radius: 10px;
	outline: none;
	font-size: 1em;
	font-family: "godo";
}
.reply_btn {
	color: white;
	background-color: #ff9f0a;
}

.close_btn {
	color: black;
	background: lightgray;
}

.close_btn:active {
	background-color: #fbb245;
}

/* -------------------------------------------------- */

@media screen and (min-width: 1024px) {
	.main_area {
		padding: 136px 15% 90px;
		background-color: #f5f5f5;
	}

	.title {
		margin: 8% auto;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.title div {
		font-size: 3em;
	}

	.boardList_table {
		background-color: white;
	}

	.boardList_table tr:nth-child(n + 2) {
		transition-duration: 0.3s;
		cursor: pointer;
	}
	.boardList_table tr:nth-child(n + 2):hover {
		background-color: #fbd17c;
	}

	.userList_title {
		padding: 5% 0;
		font-size: 1.7em;
	}

	/* -------------------------------------------------- */
	/* 데스크탑 - 모달창 */
	.custom_modal {
		top: 26%;
		left: 35%;
		width: 30%;
		margin: 0 auto;
		padding: 60px 70px 50px;
		box-shadow: 10px 14px 16px rgba(0, 0, 0, 0.18);
	}

	.modal_title {
		margin: 10px auto 30px;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.modal_content {
		margin: 1.1em 0;
	}

	.btn_area {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		margin: 3% 0;
	}

	.reply_btn {
		width: 100%;
		padding: 5% 0;
		cursor: pointer;
	}
	/* .reply_btn,
	.close_btn {
		width: 49%;
		padding: 3% 0;
		cursor: pointer;
	} */

	.close_btn:active {
		background-color: lightgray;
	}
}
