.main_area {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding: 10% 5% 70px;
	display: flex;
	flex-direction: column;
	font-family: "Godo", serif;
}

.title {
	display: flex;
	margin: 15% auto 14%;
}

.title div {
	padding: 0 10px;
	font-size: 2em;
	border-bottom: 5px solid #ff9f0a;
}

/* -------------------------------------------- */
/* 검색창 */
.searchBox {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	/* justify-content: center; */
}

.searchInput {
	width: 100%;
	padding: 3%;
	margin-right: 8px;
	font-size: 1em;
	outline: none;
	border: 2px solid #ff9f0a;
	border-radius: 10px;
	font-family: "Godo";
}
.searchInput::placeholder {
	color: lightgray;
}

.searchButton {
	font-family: "Godo";
	width: 22%;
	border: none;
	background-color: #ff9f0a;
	color: white;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	font-size: 1em;
}

/* -------------------------------------------- */
/* 테이블 */
.userList_container {
	display: flex;
	flex-direction: column;
}

.userList_title {
	width: 100%;
	padding: 3% 0;
	background-color: #fbd17c;
	border-bottom: 2px solid #ff9f0a;
	font-size: 1.2em;
}

.userList_table {
	display: block;
	height: 56vh;
	margin-bottom: 5px;
	overflow-y: auto;
	overflow-x: auto;
	border: 2px solid #ff9f0a;
	border-radius: 10px;
	text-align: center;
}

table {
	width: 100%;
	border-radius: 10px;
}

/* .userList_table tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-bottom: 1px solid;
} */
/* .userList_table tbody tr td {
	padding: 3% 0 3% 0;
} */

/* 전체 회원 수 */
.totalMember {
	margin: 15px 0;
	text-align: center;
}

/* -------------------------------------------------- */
/* 모달창 */
.custom_modal {
	position: absolute;
	top: 34%;
	left: 5%;
	background: #fff;
	overflow: auto;
	outline: none;
	padding: 15px;
	width: 90vw;
	height: 51vh;
	border-radius: 10px;
	border: 2px solid #ff9f0a;
	text-align: center;
}

.modal_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.modal_title {
	padding: 0 10px;
	margin: 40px auto;
	font-size: 1.8em;
	font-family: "Godo", serif;
}

.modal_content {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	font-family: "Godo", serif;
	font-size: 1.1em;
	color: #000000;
	width: 100%;
	background: none;
	border: none;
	align-items: flex-start;
	white-space: pre-wrap;
}

.modal_content p {
	margin-bottom: 10px;
}

.close_btn {
	width: 100%;
	padding: 4.5% 0;
	margin: 0 auto;
	color: black;
	background: lightgray;
	border: 0;
	border-radius: 10px;
	outline: none;
	font-size: 1em;
	font-family: "godo";
	margin-top: 5px;
}

/* .close_btn:hover {
	border: 2px solid #fbb245;
	background: #fbb245;
}

.close_btn:active {
	background-color: #fbb245;
} */

.delete_btn {
	width: 100%;
	padding: 4.5% 0;
	margin: 0 auto;
	color: white;
	background: red;
	border: 0;
	border-radius: 10px;
	outline: none;
	font-size: 1em;
	font-family: "godo";
	margin-top: 5px;
}

/* .delete_btn:hover {
	border: 2px solid #ababab;
	background: #ababab;
}

.delete_btn:active {
	background-color: #ababab;
} */
